<div class="card bg-base-100 w-96 shadow-sm hover:shadow-xl transition-all">
  <div class="card-body">
    <h4 class="card-title text-sm flex justify-between">
      <div>
        <a [href]="job().refs.landing_page" _blank>{{ job().name }}</a>
      </div>
      <div class="line-clamp-1 badge badge-secondary text-xs h-auto whitespace-normal py-1 text-center">{{ job().company.name }}</div>
    </h4>
    <div class="divider"></div>
    <div >
      <p [innerHTML]="job().contents | truncate"></p>
    </div>
    <div class="divider"></div>
    <p class="text-sm text-gray-500">
      {{ job().locations[0]?.name }} • {{ job().publication_date | date:'shortDate' }}
    </p>

    <div class="card-actions justify-between mt-4 ">
      <button (click)="addToFav()" class="btn btn-sm">Save</button>
      @for(level of job().levels; track $index) {
        <div class="badge badge-outline">{{ level.name }}</div>
      }
    </div>
  </div>
</div>
