<div class="bg-base-200 p-6 rounded-xl shadow-md mb-8">
  <form [formGroup]="searchForm" class="flex flex-col md:flex-row gap-4">
    
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text font-bold">Domaine / Métier</span>
      </label>
      <input 
        type="text" 
        formControlName="category" 
        placeholder="Ex: Software Engineer, Data Science..." 
        class="input input-bordered w-full" 
      />
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text font-bold">Lieu</span>
      </label>
      <input 
        type="text" 
        formControlName="location" 
        placeholder="Ex: Remote, New York, Paris..." 
        class="input input-bordered w-full" 
      />
    </div>

  </form>
</div>