<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a routerLink="/">Home</a></li>
        @if (authStore.isAuthenticated()) {
        <li><a routerLink="/favorite">Favorites</a></li>
        <li><a routerLink="/applications">Applications</a></li>
        }
      </ul>
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl">JobFinder</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      @if (authStore.isAuthenticated()) {
      <li><a routerLink="/favorite" routerLinkActive="active">Favorites</a></li>
      <li><a routerLink="/applications" routerLinkActive="active">Applications</a></li>
      }
    </ul>
  </div>
  <div class="navbar-end space-x-2.5">
    <app-theme-button-component />

    @if (authStore.isAuthenticated()) {
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="User Avatar" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li class="menu-title">Hello, {{ authStore.user()?.prenom }}</li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    } @else {
    <a routerLink="/login" class="btn btn-ghost">Login</a>
    <a routerLink="/register" class="btn btn-primary">Register</a>
    }
  </div>
</div>